.coverflow{
  text-align: center;
  perspective: 400px;
  background: lightgray;
  margin: 0;
  position: relative;
  height: 300px;
  box-sizing: border-box;
  padding: 25px;
  outline: transparent;
}

.coverflow-empty::after{
  content: 'No items to show.';
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
}