form {
  display: inline-block;
  padding: 10px;
  margin: 10px;
}

form label {
  float: left;
}

form input {
  float: right;
}

code {
  padding: 10px;
  display: inline-block;
  margin: 10px;
  background: beige;
  color: darkgoldenrod;
}

.demo {
  text-align: center;
}